<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--日志绝对路径-->
    <property name="LOG_HOME" value="./logs"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 控制台 -->
    <appender name="log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/logs/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/logs/log%d{yyyyMMdd}.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%level] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 访问日志 -->
    <appender name="visit" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/visits/visit.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <Level>INFO</Level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/visits/visit%d{yyyyMMdd}.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 信息日志 -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/infos/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <Level>INFO</Level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/infos/info%d{yyyyMMdd}.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 错误日志 -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/errors/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/errors/error%d{yyyyMMdd}.%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="log"/>
    </root>
    <logger name="visit" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="visit"/>
    </logger>
    <logger name="info" additivity="true">
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
    </logger>
    <logger name="error" additivity="true">
        <level value="ERROR"/>
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
    </logger>
</configuration>
